* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  /* align content vertically */
  /* align-content: center;  */
}

body {
  font-family: 'Helvetica Neue';
  background-color: #fff;
}

button {
  background: #5700ef;
  border-radius: 15px;
  cursor: pointer;
  color: white;
  font-size: 1.9rem;
  opacity: 0.6;
  transition: 0.3s;
  margin: 13px 10px;
  padding: 7px;
}
button:hover {
  opacity: 1;
}

h1 {
  font-size: 2.9rem;
}

nav {
  background-color: #fff;
  height: 80px;
  width: 100%;
  padding: 0 50px;
  position: fixed;
  top: 0;
  z-index: 1;
}

label.logo {
  color: #000;
  font-size: 35px;
  line-height: 80px;
  /* padding: 0 100px; */
  font-weight: bold;
}

nav ul {
  float: right; /* allow element to float to rightside of parent */
  /* margin-right: 20px; */
}

nav ul li {
  display: inline-block; /* display left to right */
  line-height: 80px; /* height of box */
  margin: 0 5px;
}
/* change text color link to white */
nav ul li a {
  color: #000;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active,
a:hover {
  background: rgba(162, 160, 160, 0.862);
  transition: 0.5s;
}

.checkbtn {
  font-size: 30px;
  color: #000;
  float: right;
  line-height: 80px;
  /* margin-right: 40px; */
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    /* padding-left: 50px; */
  }
  nav {
    padding: 0 25px;
  }
  nav ul li a {
    font-size: 16px;
  }
}
@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  /* mobile menu display */
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff;
    top: 80px;
    left: -100%; /* menu disappears */
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover,
  a.active {
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul {
    left: 0;
  }
}

section {
  margin: 0px 50px 0px 50px;
  padding-top: 90px;
}

.home-section {
  background: #131315;
  border-radius: 25px;
  color: #fff;
  display: block;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

.home-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 40px;
  justify-content: center;
  padding: 3px;
  width: 100%;
}

.image-angkor {
  border-radius: 75%;
  padding-right: 3px;
}

.image-beach {
  border-radius: 50%;
  padding-left: 3px;
}

.home-section h1 {
  padding: 100px;
}

.home-section img {
  border-radius: 15px;
  height: 42vh;
  width: 100%;
}

.about-section {
  display: grid;
  grid-template-columns: 0.9fr 1.1fr;
  align-items: center;
}

.about-section img {
  border-radius: 15px;
  height: 50vh;
  width: 100%;
}

.about-content {
  padding-left: 140px;
}

#home__Description {
  font-size: 4.2rem;
  opacity: 95%;
}
#about__Title {
  padding: 20px 0px;
  font-size: 1.5rem;
  color: #d8d2ce;
  text-transform: uppercase;
}

#about__Description {
  font-size: 1.5rem;
}

.project-title {
  padding: 20px 0px;
  font-size: 1.5rem;
  color: #d8d2ce;
  text-transform: uppercase;
}
/* Project Layout */

#project__Cards {
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #fff;
}

/* project section background */
.project__card {
  display: flex;
  height: 60vh;
  width: 100%;
  align-items: center;
}

.card__wrapper {
  height: 100%;
  width: 80%;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  /* border-radius: 15%; */
}
/* map over index to create separate classes*/
.card__image {
  border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 60%;
  width: 100%;
}

.card__content {
  background: #fff;
  width: 100%;
}
.card__title {
  color: #000;
  font-size: 1.5rem;
  padding: 5px 5px 5px 0px;
}

.card__description {
  color: #000;
  font-size: 1.1rem;
  padding: 5px 5px 40px 0px;
}

.card__link {
  background: #000;
  border-radius: 12px;
  color: #fff;
  font-size: 1.5rem;
  padding: 3px;
  margin-right: 10px;
}

form {
  width: 100%;
}

.collab {
  background: #131315;
  border-radius: 25px 25px 0 0;
  color: #fff;
  display: block;
  height: 100vh;
  justify-content: center;
  padding-top: 100px;
  text-align: center;
  width: 100%;
}
.contact__container {
  width: 100%;
  padding: 50px 200px;
}
.contact__title,
.modal-title {
  font-size: 6.5rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

/* Modal Contact */

.show-modal {
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem;
  margin: 1rem 1rem;
  border: none;
  border-radius: 10rem;
  cursor: pointer;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.hidden {
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 93%;
  height: 70%;

  background-color: white;
  padding: 6rem;
  border-radius: 25px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

#name,
#email {
  margin: 5px 0 5px 19px;
}
input {
  width: 60%;
  height: 40%;
}

form textarea {
  height: 10rem;
  width: 60%;
}
